main > .container-fluid {
  height: calc(100vh - 54px);
  background-image: url(../../../../assets/imgs/ranger.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.card {
  margin-top: calc(50vh - 280px);
  min-height: 450px;
  opacity: 0.9;
}


