<h2 class="title text-center mb-5">Cadastrar novo dado de veículo</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <form (submit)="add()"
      [formGroup]="addVehicleDataForm">
        <input
          type="text"
          class="form-control border border-3 border-dark rounded-end"
          name="vinCodeInput"
          placeholder="Insira o código VIN"
          formControlName="vin"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('vin')?.errors?.['required'] && addVehicleDataForm.get('vin')?.touched">Campo código vin obrigatório</small>
        <small class="text-danger d-block" *ngIf="addVehicleDataForm.get('vin')?.errors?.['numberCharacters'] && addVehicleDataForm.get('vin')?.touched">O código VIN deve possuir vinte caracteres</small>
        <small class="text-danger d-block" *ngIf="addVehicleDataForm.get('vin')?.errors?.['existingVINCode']">Código VIN já cadastrado</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="odometerInput"
          placeholder="Insira o odômetro"
          formControlName="odometer"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('odometer')?.errors?.['required'] && addVehicleDataForm.get('odometer')?.touched">Campo odômetro obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="tirePressureInput"
          placeholder="Insira a pressão do pneu (XX,XX,XX,XX)"
          formControlName="tirePressure"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('tirePressure')?.errors?.['required'] && addVehicleDataForm.get('tirePressure')?.touched">Campo pressão do pneu obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="statusInput"
          placeholder="Insira o status"
          formControlName="status"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('status')?.errors?.['required'] && addVehicleDataForm.get('status')?.touched">Campo status obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="batteryStatusInput"
          placeholder="Insira o status da bateria"
          formControlName="batteryStatus"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('batteryStatus')?.errors?.['required'] && addVehicleDataForm.get('batteryStatus')?.touched">Campo status da bateria obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="fuelLevelInput"
          placeholder="Insira o nível do tanque"
          formControlName="fuelLevel"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('fuelLevel')?.errors?.['required'] && addVehicleDataForm.get('fuelLevel')?.touched">Campo nível do tanque obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="LatitudeInput"
          placeholder="Insira a latitude"
          formControlName="latitude"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('latitude')?.errors?.['required'] && addVehicleDataForm.get('latitude')?.touched">Campo latitude obrigatório</small>

        <input
          type="text"
          class="form-control border border-3 border-dark mt-4"
          name="longitudeInput"
          placeholder="Insira a longitude"
          formControlName="longitude"
          required
        />
        <small class="text-danger" *ngIf="addVehicleDataForm.get('longitude')?.errors?.['required'] && addVehicleDataForm.get('longitude')?.touched">Campo longitude obrigatório</small>

        <div class="text-center">
          <div class="d-inline">
            <button
              type="submit"
              class="btn btn-primary mt-4"
              [disabled]="addVehicleDataForm.get('vin')?.errors?.['required'] ||
              addVehicleDataForm.get('vin')?.errors?.['numberCharacters'] ||
              addVehicleDataForm.get('vin')?.errors?.['existingVINCode'] ||
              addVehicleDataForm.get('odometer')?.errors?.['required'] ||
              addVehicleDataForm.get('tirePressure')?.errors?.['required'] ||
              addVehicleDataForm.get('status')?.errors?.['required'] ||
              addVehicleDataForm.get('batteryStatus')?.errors?.['required'] ||
              addVehicleDataForm.get('fuelLevel')?.errors?.['required'] ||
              addVehicleDataForm.get('latitude')?.errors?.['required'] ||
              addVehicleDataForm.get('longitude')?.errors?.['required']"
            >
              Adicionar
            </button>
          </div>
          <div class="col-6 d-inline ms-2">
            <a [routerLink]="['/dashboard']"
            class="btn btn-outline-secondary mt-4"
            >
            <i class="text-outline-secondary">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
            </i>
              Voltar
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
